{% extends 'main/layout.html' %}

{% block title %}О себе{% endblock %}

{% block content %}
    <div class="features_index">
        <h1>О себе</h1>
        <p>1. Целеустремленная</p>
        <p>2. Умею работать в команде</p>
        <p>3. Ответсвенно подхожу к любой задаче</p>
        <p>4. Исполнительная</p>
        <p>5. Легко обучаема</p>
        <p>6. Способна работать в режиме многозадачности</p>
        <p>7. Склонна к саморазвитию и повышению квалификации</p>
        <p>8. Настойчивая</p>
        {# можно добавить кнопку: <button class="btn btn-danger">Просто нажми</button> #}
    </div>
{% endblock %}