{% extends 'main/layout.html' %}

{% block title %}Навыки{% endblock %}

{% block content %}
    <div class="features_index">
        <h1>Навыки</h1>
        <p><i class="fas fa-check"></i>   Python</p>
        <p><i class="fas fa-check"></i>   фреймворк Django</p>
        <p><i class="fas fa-check"></i>   MySQL</p>
        <p><i class="fas fa-check"></i>   ООП</p>
        <p><i class="fas fa-check"></i>   Git</p>
        <p><i class="fas fa-check"></i>   PyCharm/ Jupiter</p>
    </div>
{% endblock %}